.groups{
    font-size: large;
    margin-left: 100px;

}

.addButton {
    font-size: small;
    color: gray;
}

.expenses{
    margin-left:500px
}

.logout {
    margin-left:900px
}
.head{
    margin-left:400px
}

.button{
    margin-left:100px
}