.groups{
    font-size: large;
    margin-left: 100px;

}

.addButton {
    font-size: small;
    color: gray;
}

.expenses{
    margin-left:500px;
    
}
.group{
    display:flex; flex-direction:row;
    margin-left: 125px;
}

.groupBalance{
    margin-left: 300px;
    color: grey;
}


.logout {
    margin-left:900px
}
.head{
    margin-left:400px
}

.button{
    margin-left:100px
}