.center{
    margin-left: 500px;
}

.buttons{
    margin-left: 500px;
}

.money{
    margin-right:400px;
    color: grey;
    font-size: large;
}

.details{
    color :grey;
    font-size: medium;

}
